@font-face {
    font-family: 'Sephir';
    src: url('../fonts/sephir/Sephir-Regular.woff2') format('woff2'),
         url('../fonts/sephir/Sephir-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.custom-hero {
    background-image: url('../img/2_front_format2_DEF22032025.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000; /* testo scuro per contrastare il fondo chiaro */
    font-family: 'Sephir', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .hero-title {
    font-size: 3rem;
    color: #000;
  }
  
  .hero .intro {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
  }
  
  /* Pulsanti personalizzati */
  .btn-accent {
    background-color: #DFC49C;
    color: white;
    border: none;
  }
  
  .btn-fill {
    background-color: #E5E5D5;
    color: #000;
    border: none;
  }
  
  .down-arrow i {
    color: #000;
    font-size: 2rem;
  }