@font-face {
    font-family: 'Sephir';
    src: url('../fonts/sephir/Sephir-Regular.woff2') format('woff2'),
         url('../fonts/sephir/Sephir-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.custom-hero {
    background-image: url('../img/hero-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000; /* testo scuro per contrastare il fondo chiaro */
    font-family: 'Sephir', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .hero-title {
    font-size: 3rem;
    color: #000;
    font-family: 'Sephir', serif
  }

  .hero .container {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  
  .hero .intro {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
    font-family: 'Sephir', serif
  }
  
  /* Pulsanti personalizzati */
  .btn-accent {
    background-color: #DFC49C;
    color: white;
    border: none;
  }
  
  .btn-fill {
    background-color: #E5E5D5;
    color: #000;
    border: none;
  }
  
  .down-arrow i {
    color: #000;
    font-size: 2rem;
  }



body {
  background-image: url('img/background.png'); /* Inserisci un'immagine di tappeto in stile Il Grande Lebowski */
  background-size: cover;
  background-attachment: fixed;

}


.container {
  background-color: rgba(223, 196, 156, 0.60); /* beige chiaro con opacità */
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

/* .container {
  background: rgba(193, 189, 189, 0.9);
  color: #000000;
  padding: 20px;
  border-radius: 15px;
  text-shadow: 0.5px 0.5px #ffffff;
} */
/* .header {
    font-family: 'Impact', sans-serif;
    color: #ffcc00;
    text-shadow: 2px 2px #000;
}*/
.contact-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #7520d0;
}
/*.section-padding {
    padding: 50px 0;
}*/



.bowling-pin {
    width: 50px;
    height: auto;
}